@font-face {
    src: url(../fonts/FontsFree-Net-Mont-Bold.ttf);
    font-family: Net-Mont-Bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('images/bg.png'); */
    background-color: rgb(163, 171, 171);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.bg-img {
    background-image: url('images/bg.png');
    width: 75%;
    min-height: 100vh;
    overflow: hidden;
}

.first {
    padding-right: 1rem;
}

.second {
    padding-left: 1rem;
}

.bg-img {
    width: 60%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.couple-img {
    position: relative;
    width: 100%;
    padding-left: 24px;
    padding-top: 10px;
}

.couple-img>img {
    width: 300px;
}

.overflow-img {
    position: absolute;
    top: 272px;
    left: 525px;
}

.overflow-img>img {
    width: 300px;
}

.easter-img {
    margin-top: -140px;
    width: 530px;
}

.discount-img {
    margin-top: -100px;
    width: 230px;
}

.second {
    text-align: center;
}

.last-section a {
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 17px 140px;
    font-size: 60px;
    color: #7ddcfa;
    font-weight: 900;
    font-family: Net-Mont-Bold;
}

.last-section:hover a {
    color: #7ddcfa;
}

.footer-text {
    font-size: 40px;
}

@media only screen and (max-width:576px) {
    .first {
        order: 2;
    }
    .second {
        order: 1;
    }
    .couple-img {
        position: static;
        width: 100%;
        padding-left: 0;
    }
    .couple-img>img {
        padding: .4rem;
        width: 100%;
    }
    .easter-img-box {
        width: 213px;
        margin-left: -2px;
    }
    .overflow-img {
        width: 100%;
        text-align: center;
        position: static;
    }
    .overflow-img>img {
        padding: .4rem;
        width: 100%;
    }
    .easter-img {
        /* margin-top: -20px; */
        width: 350px !important;
        padding: 50px 0px !important;
    }
    .discount-img {
        margin-top: -90px;
        width: 200px;
    }
}

@media only screen and (max-width:820px) {
    .first {
        order: 2;
    }
    .second {
        order: 1;
    }
    .couple-img {
        position: static;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .couple-img>img {
        padding: .4rem;
        width: 100%;
    }
    .overflow-img {
        width: 100%;
        text-align: center;
        position: static;
        text-align: center;
    }
    .overflow-img>img {
        padding: .4rem;
        width: 100%;
    }
    .easter-img {
        margin-top: -100px;
        width: 400px;
        margin: 0 auto;
        display: block;
    }
    .discount-img {
        margin-top: -90px;
        width: 200px;
    }
}

@media only screen and (max-width:1280px) {
    .overflow-img {
        left: 351px;
        top: 170px;
    }
    .easter-img-box {
        margin-top: 80px;
        margin-left: -133px;
    }
    .easter-img {
        margin-top: -145px;
        width: 280px;
    }
    .discount-img {
        margin-top: -58px;
        margin-left: -148px;
        width: 150px;
    }
    .overflow-img>img {
        width: 180px;
    }
    .couple-img>img {
        width: 180px;
    }
    .gift-img {
        margin-top: -10px;
        margin-left: -136px;
    }
    .shop-now {
        margin-top: 15px;
    }
    .shop-now p {
        font-size: 60px;
        font-style: none;
        color: #7ddcfa;
        font-weight: 900;
        font-family: Net-Mont-Bold;
    }
    .last-section a {
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 40px;
        font-size: 40px;
        color: #7ddcfa;
        padding: 3px 85px;
        font-weight: 900;
        font-family: Net-Mont-Bold;
    }
    .footer-text {
        font-size: 16px;
        text-align: center;
    }
}